<div style="color: grey; font-size: small;">
    <br>
    <br>
    <br>
    <hr/>
    <p>
     <a href="https://techformist.com">Techformist</a>We are awesome like that.</p>
    <p>
    </p>
    <br>
    <p style="font-size: 9px;">
    You are receiving this email because you signed up for our awesome service. Unsubscribe if you don't want to receive our emails anymore.
    </p>
    </div>
    