<h2> Hello, {{ username }} </h2>
<p>
  Welcome to awesomeness! 
</p>
<p>Here are your registration details..</p>
<br>
<div style="font-size: 110%;">
<p>&nbsp;&nbsp;&nbsp;Login id : {{ userid }}</p>
<p>&nbsp;&nbsp;&nbsp;Password : <i>your password<i></p>
<p>&nbsp;&nbsp;&nbsp;Login URL: <a href="#" target="_blank">https://techformist.com</a></p>
</div>
<br>
<p>We strongly recommend you change your password upon logging in for the first time. </p>
@include('emails.footer')