<p> Hello {{ username }}, </p>
<p>
  Your password was successfully reset. 
</p>
<p>Click on the link below and login to the application with your new password.</p>
<br>
<div style="font-size: 110%;">
<p>&nbsp;&nbsp;&nbsp;URL: <a href="{{ appURL }}">{{ appURL }}</a></p>
</div>
<br>
<p>Contact us for any further assistance.
</p>
@include('emails.footer')